* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --very-dark-grey: #101010;
  --white: #fff;
}

/***** FONTS *****/

@font-face {
  font-family: 'Alata-Regular';
  src: url('../fonts/alata/Alata-Regular.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('../fonts/josefin-sans/JosefinSans-Thin.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf');
  format: ('true-type');
}

/* Base Styles */
li {
  list-style-type: none;
}

h1 {
  font-family: 'JosefinSans-Thin';
  font-size: 2.5rem;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10rem;
  color: var(--white);
}

h2 {
  font-family: 'JosefinSans-Thin';
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--very-dark-grey);
}

h3 {
  font-family: 'JosefinSans-Thin';
  font-size: 2.45rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

h4 {
  font-family: 'JosefinSans-Thin';
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--very-dark-grey);
}

h5 {
  font-family: 'JosefinSans-Thin';
  font-size: 1.25rem;
  color: var(--very-dark-grey);
}

/* Header */
header {
  width: 100%;
  height: 50rem;
  padding: 2.25rem;
  margin-bottom: 4rem;
  background: url(../images/mobile/image-hero.jpg);
  background-size: cover;
}

/* Navigation */
.navigation-nav {
  z-index: 1000;
}

.navigation-nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.navigation-nav a {
  text-decoration: none;
}

.navigation-nav li a {
  font-family: 'JosefinSans-Regular';
  font-size: 0.9rem;
  color: hsl(0, 0%, 55%);
}
