* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --very-dark-grey: #101010;
  --white: #fff;
}

/***** FONTS *****/

@font-face {
  font-family: 'Alata-Regular';
  src: url('../fonts/alata/Alata-Regular.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('../fonts/josefin-sans/JosefinSans-Thin.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf');
  format: ('true-type');
}

/* Base Styles */
li {
  list-style-type: none;
}

h1 {
  font-family: 'JosefinSans-Thin';
  font-size: 2.5rem;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10rem;
  color: var(--white);
}

h2 {
  font-family: 'JosefinSans-Thin';
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--very-dark-grey);
}

h3 {
  font-family: 'JosefinSans-Thin';
  font-size: 2.45rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

h4 {
  font-family: 'JosefinSans-Thin';
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--very-dark-grey);
}

h5 {
  font-family: 'JosefinSans-Thin';
  font-size: 1.25rem;
  color: var(--very-dark-grey);
}

/* Header */
header {
  width: 100%;
  height: 50rem;
  padding: 2.25rem;
  margin-bottom: 4rem;
  background: url(../images/mobile/image-hero.jpg);
  background-size: cover;
}

/* Navigation */
.navigation-nav {
  z-index: 1000;
}

.navigation-nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.navigation-nav a {
  text-decoration: none;
}

.navigation-nav li a {
  font-family: 'JosefinSans-Regular';
  font-size: 0.9rem;
  color: hsl(0, 0%, 55%);
}

/* Mobile Navigation */
.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  width: 2rem;
  height: 1.75px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
}

.navigation-icon::before,
.navigation-icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-nav:checked + .navigation-navbutton .navigation-navicon {
  background-color: transparent;
}

.navigation-nav:checked + .navigation-navbutton .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation-nav:checked + .navigation-navbutton .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation-button {
  position: fixed;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  top: 1rem;
  right: 3rem;
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

/* Navigation Link */
.navigation-item {
  margin: 1rem;
}

/* Hides Mobile Navigation */
.navigation-link:link,
.navigation-link:visited {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all 0.4s;
}

.navigation-link:link span,
.navigation-link:visited span {
  margin-right: 1.5rem;
}

.navigation-link:hover,
.navigation-link:active {
  background-position: 100%;
  color: hsl(0, 0%, 55%);
  transform: translateX(1rem);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Checkbox */
.navigation-checkbox {
  display: none;
}

/* Navigation Background */
/* CHANGE COLOR OF HAMBURGER BACKGROUND */
.navigation-background {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 0;
  background: hsl(0, 0%, 0%);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-background {
  top: 2.75rem;
  right: 2.25rem;
}

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* END Mobile Navigation */

/* Title */
.title-background {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border: 2px solid white;
  margin: 12rem auto;
}

.title-container {
  margin: 1rem auto;
}

.logo-image {
  width: 50%;
  margin-top: 1rem;
  z-index: 2000;
}

/* About Section */
.about {
  height: 25rem;
  margin-bottom: 25rem;
}

.about-img {
  width: 90%;
  margin: 3rem 0 3rem 1.3rem; /* Could not get 'margin: 3rem auto' to center image */
}

.about-header {
  width: 95%;
  margin: 0 auto;
}

.about-header h2 {
  text-align: center;
}

.about p {
  font-family: 'Alata-Regular';
  font-size: 1.15rem;
  line-height: 2rem;
  width: 85%;
  color: hsl(0, 0%, 55%);
  margin: 1rem auto;
  text-align: center;
}

.creations {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2rem auto;
}

.creations h3 {
  text-align: center;
}

.images h4 {
  width: 40%;
  color: hsl(0, 0%, 100%);
}

/* Images Section */
.images {
  display: flex;
  flex-direction: row;
}

.box1 {
  background: url(../images/mobile/image-deep-earth.jpg);
  background-size: cover;
}

.box2 {
  background: url(../images/mobile/image-night-arcade.jpg);
  background-size: cover;
}

.box3 {
  background: url(../images/mobile/image-soccer-team.jpg);
  background-size: cover;
}

.box4 {
  background: url(../images/mobile/image-grid.jpg);
  background-size: cover;
}

.box5 {
  background: url(../images/mobile/image-from-above.jpg);
  background-size: cover;
}

.box6 {
  background: url(../images/mobile/image-pocket-borealis.jpg);
  background-size: cover;
}

.box7 {
  background: url(../images/mobile/image-curiosity.jpg);
  background-size: cover;
}

.box8 {
  background: url(../images/mobile/image-fisheye.jpg);
  background-size: cover;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  height: 9rem;
  margin-bottom: 2rem;
  padding: 4rem 0 0 1rem;
}

.images {
  display: flex;
  flex-direction: column;
}

button {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  padding: 0.75rem 2rem;
  border: solid 2px hsl(0, 0%, 0%);
  margin: 0.75rem auto;
}

.button-container-desktop {
  visibility: hidden;
}

.button-container-desktop a {
  text-decoration: none;
}

.button-container-mobile {
  padding: 0 0 0 4rem;
}

.button-container-mobile button {
  width: 75%;
}

/* Footer */
footer {
  height: 35rem;
  padding: 0;
  background: hsl(0, 0%, 0%);
}

.footer-image .logo-image {
  width: 45%;
  margin: 2.75rem 0 0 7rem;
}

.footer-nav ul {
  width: 15%;
  margin: 2rem auto;
  line-height: 3rem;
}

.footer-nav a {
  font-family: 'Alata-Regular';
  font-size: 1.15rem;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.footer-nav a:hover {
  color: hsl(0, 0%, 55%);
}

.footer a {
  text-decoration: none;
}

/* Social Media Icons */
.social-media {
  letter-spacing: 0.75rem;
  width: 40%;
  margin: 2rem auto;
}

/* Copyright */
.copyright {
  font-family: 'Alata-Regular';
  width: 70%;
  margin: 0 auto;
}

.copyright h5 {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  color: hsl(0, 0%, 55%);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
