* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** FONTS *****/

@font-face {
  font-family: 'Alata-Regular';
  src: url('../fonts/alata/'Alata-Regular.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('../fonts/josefin-sans/'JosefinSans-Thin.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../fonts/josefin-sans/'JosefinSans-Regular.ttf');
  format: ('true-type');
}
